{
  "permissionMappings" : [ {
    "key" : "case.view",
    "definition" : {
      "label" : "View case instance",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : true,
        "participant" : true,
        "watcher" : true
      }
    }
  }, {
    "key" : "case.audittrail.view",
    "definition" : {
      "label" : "View case instance audittrail",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : true,
        "participant" : true,
        "watcher" : false
      }
    }
  }, {
    "key" : "case.sub-items.view",
    "definition" : {
      "label" : "View case instance sub items",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : true,
        "participant" : true,
        "watcher" : true
      }
    }
  }, {
    "key" : "case.history.view",
    "definition" : {
      "label" : "View case instance history",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : true,
        "participant" : true,
        "watcher" : false
      }
    }
  }, {
    "key" : "case.edit",
    "definition" : {
      "label" : "Edit case instance",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : false,
        "participant" : true,
        "watcher" : false
      }
    }
  }, {
    "key" : "case.delete",
    "definition" : {
      "label" : "Delete case instance",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "case.change-assignee",
    "definition" : {
      "label" : "Change case assignee",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "case.change-status",
    "definition" : {
      "label" : "Change case status",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "case.identitylink.view",
    "definition" : {
      "label" : "View case identity links",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : true,
        "participant" : true,
        "watcher" : true
      }
    }
  }, {
    "key" : "case.identitylink.edit",
    "definition" : {
      "label" : "Edit case identity links",
      "permissionValues" : {
        "owner" : true,
        "assignee" : false,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "case.identitylink.create",
    "definition" : {
      "label" : "Create case identity links",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : false,
        "participant" : true,
        "watcher" : false
      }
    }
  }, {
    "key" : "case.identitylink.delete",
    "definition" : {
      "label" : "Delete case identity links",
      "permissionValues" : {
        "owner" : true,
        "assignee" : false,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "case.document.view",
    "definition" : {
      "label" : "View case documents",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : true,
        "participant" : true,
        "watcher" : true
      }
    }
  }, {
    "key" : "case.document.edit",
    "definition" : {
      "label" : "Edit case documents",
      "permissionValues" : {
        "owner" : true,
        "assignee" : false,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "case.document.create",
    "definition" : {
      "label" : "Create case documents",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : false,
        "participant" : true,
        "watcher" : false
      }
    }
  }, {
    "key" : "case.document.move-or-copy",
    "definition" : {
      "label" : "Move/copy case documents",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : false,
        "participant" : true,
        "watcher" : false
      }
    }
  }, {
    "key" : "case.document.delete",
    "definition" : {
      "label" : "Delete case documents",
      "permissionValues" : {
        "owner" : true,
        "assignee" : false,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "case.comment.view",
    "definition" : {
      "label" : "View case comments",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : true,
        "participant" : true,
        "watcher" : true
      }
    }
  }, {
    "key" : "case.comment.edit",
    "definition" : {
      "label" : "Edit case comments",
      "permissionValues" : {
        "owner" : true,
        "assignee" : false,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "case.comment.create",
    "definition" : {
      "label" : "Create case comments",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : false,
        "participant" : true,
        "watcher" : false
      }
    }
  }, {
    "key" : "case.comment.delete",
    "definition" : {
      "label" : "Delete case comments",
      "permissionValues" : {
        "owner" : true,
        "assignee" : false,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "process.view",
    "definition" : {
      "label" : "View process instance",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : true,
        "participant" : true,
        "watcher" : true
      }
    }
  }, {
    "key" : "process.audittrail.view",
    "definition" : {
      "label" : "View process instance audittrail",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : true,
        "participant" : true,
        "watcher" : false
      }
    }
  }, {
    "key" : "process.sub-items.view",
    "definition" : {
      "label" : "View process instance sub items",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : true,
        "participant" : true,
        "watcher" : true
      }
    }
  }, {
    "key" : "process.history.view",
    "definition" : {
      "label" : "View process instance history",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : true,
        "participant" : true,
        "watcher" : false
      }
    }
  }, {
    "key" : "process.edit",
    "definition" : {
      "label" : "Edit process instance",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : false,
        "participant" : true,
        "watcher" : false
      }
    }
  }, {
    "key" : "process.delete",
    "definition" : {
      "label" : "Delete process instance",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "process.change-assignee",
    "definition" : {
      "label" : "Change process assignee",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "process.change-status",
    "definition" : {
      "label" : "Change process status",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "process.identitylink.view",
    "definition" : {
      "label" : "View process identity links",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : true,
        "participant" : true,
        "watcher" : true
      }
    }
  }, {
    "key" : "process.identitylink.edit",
    "definition" : {
      "label" : "Edit process identity links",
      "permissionValues" : {
        "owner" : true,
        "assignee" : false,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "process.identitylink.create",
    "definition" : {
      "label" : "Create process identity links",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : false,
        "participant" : true,
        "watcher" : false
      }
    }
  }, {
    "key" : "process.identitylink.delete",
    "definition" : {
      "label" : "Delete process identity links",
      "permissionValues" : {
        "owner" : true,
        "assignee" : false,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "process.document.view",
    "definition" : {
      "label" : "View process documents",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : true,
        "participant" : true,
        "watcher" : true
      }
    }
  }, {
    "key" : "process.document.edit",
    "definition" : {
      "label" : "Edit process documents",
      "permissionValues" : {
        "owner" : true,
        "assignee" : false,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "process.document.create",
    "definition" : {
      "label" : "Create process documents",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : false,
        "participant" : true,
        "watcher" : false
      }
    }
  }, {
    "key" : "process.document.move-or-copy",
    "definition" : {
      "label" : "Move/copy process documents",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : false,
        "participant" : true,
        "watcher" : false
      }
    }
  }, {
    "key" : "process.document.delete",
    "definition" : {
      "label" : "Delete process documents",
      "permissionValues" : {
        "owner" : true,
        "assignee" : false,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "process.comment.view",
    "definition" : {
      "label" : "View process comment",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : true,
        "participant" : true,
        "watcher" : true
      }
    }
  }, {
    "key" : "process.comment.edit",
    "definition" : {
      "label" : "Edit process comment",
      "permissionValues" : {
        "owner" : true,
        "assignee" : false,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "process.comment.create",
    "definition" : {
      "label" : "Create process comment",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : false,
        "participant" : true,
        "watcher" : false
      }
    }
  }, {
    "key" : "process.comment.delete",
    "definition" : {
      "label" : "Delete process comment",
      "permissionValues" : {
        "owner" : true,
        "assignee" : false,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "task.view",
    "definition" : {
      "label" : "View task instance",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : true,
        "participant" : true,
        "watcher" : true
      }
    }
  }, {
    "key" : "task.edit",
    "definition" : {
      "label" : "Edit task instance",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : false,
        "participant" : true,
        "watcher" : false
      }
    }
  }, {
    "key" : "task.delete",
    "definition" : {
      "label" : "Delete task instance",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "task.change-assignee",
    "definition" : {
      "label" : "Change task assignee",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "task.claim",
    "definition" : {
      "label" : "Claim an unassigned task",
      "permissionValues" : {
        "owner" : true,
        "assignee" : false,
        "candidate" : true,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "task.complete",
    "definition" : {
      "label" : "Complete a task",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "task.name.edit",
    "definition" : {
      "label" : "Edit task name",
      "permissionValues" : {
        "owner" : true,
        "assignee" : false,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "task.identitylink.view",
    "definition" : {
      "label" : "View task identity links",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : true,
        "participant" : true,
        "watcher" : true
      }
    }
  }, {
    "key" : "task.identitylink.edit",
    "definition" : {
      "label" : "Edit task identity links",
      "permissionValues" : {
        "owner" : true,
        "assignee" : false,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "task.identitylink.create",
    "definition" : {
      "label" : "Create task identity links",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : false,
        "participant" : true,
        "watcher" : false
      }
    }
  }, {
    "key" : "task.identitylink.delete",
    "definition" : {
      "label" : "Delete task identity links",
      "permissionValues" : {
        "owner" : true,
        "assignee" : false,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "task.document.view",
    "definition" : {
      "label" : "View task documents",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : true,
        "participant" : true,
        "watcher" : true
      }
    }
  }, {
    "key" : "task.document.edit",
    "definition" : {
      "label" : "Edit task documents",
      "permissionValues" : {
        "owner" : true,
        "assignee" : false,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "task.document.create",
    "definition" : {
      "label" : "Create task documents",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : false,
        "participant" : true,
        "watcher" : false
      }
    }
  }, {
    "key" : "task.document.move-or-copy",
    "definition" : {
      "label" : "Move/copy task documents",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : false,
        "participant" : true,
        "watcher" : false
      }
    }
  }, {
    "key" : "task.document.delete",
    "definition" : {
      "label" : "Delete task documents",
      "permissionValues" : {
        "owner" : true,
        "assignee" : false,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "task.comment.view",
    "definition" : {
      "label" : "View task comment",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : true,
        "participant" : true,
        "watcher" : true
      }
    }
  }, {
    "key" : "task.comment.edit",
    "definition" : {
      "label" : "Edit task comment",
      "permissionValues" : {
        "owner" : true,
        "assignee" : false,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "task.comment.create",
    "definition" : {
      "label" : "Create task comment",
      "permissionValues" : {
        "owner" : false,
        "assignee" : true,
        "candidate" : false,
        "participant" : true,
        "watcher" : false
      }
    }
  }, {
    "key" : "task.comment.delete",
    "definition" : {
      "label" : "Delete task comment",
      "permissionValues" : {
        "owner" : false,
        "assignee" : false,
        "candidate" : false,
        "participant" : false,
        "watcher" : false
      }
    }
  }, {
    "key" : "task.propagate-to-parent",
    "definition" : {
      "label" : "Propagate the identity links to the parent",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : true,
        "participant" : true,
        "watcher" : true
      }
    }
  }, {
    "key" : "task.propagate-to-parent-on-complete-task",
    "definition" : {
      "label" : "Propagate the authenticated user to the parent on complete task",
      "permissionValues" : {
        "owner" : true,
        "assignee" : true,
        "candidate" : true,
        "participant" : true,
        "watcher" : true
      }
    }
  } ],
  "adminWithAllPermissions" : true,
  "requireReadPermissionForVariables" : false,
  "addStarterAsIdentityLink" : true,
  "validateWritePermissionInParent" : true,
  "validateReadPermissionInParent" : true,
  "validateDeletePermissionInParent" : true,
  "name" : "Security policy test",
  "key" : "securityPolicyTest",
  "type" : "security"
}