{
  "type" : "REST",
  "operations" : [ {
    "name" : "Test operation 2",
    "key" : "testOperation2",
    "inputParameters" : [ {
      "displayName" : "name",
      "name" : "name",
      "type" : "string",
      "queryParameter" : true
    }, {
      "displayName" : "age",
      "name" : "age",
      "type" : "integer",
      "queryParameter" : true
    } ],
    "outputParameters" : [ {
      "displayName" : "Id",
      "name" : "id",
      "type" : "string",
      "applyMappingConfig" : "onSuccess",
      "missingValueConfig" : "ignore",
      "nullValueConfig" : "setToNull"
    }, {
      "displayName" : "Name",
      "name" : "name",
      "type" : "string",
      "applyMappingConfig" : "onSuccess",
      "missingValueConfig" : "ignore",
      "nullValueConfig" : "setToNull"
    }, {
      "displayName" : "Age",
      "name" : "age",
      "type" : "integer",
      "applyMappingConfig" : "onSuccess",
      "missingValueConfig" : "ignore",
      "nullValueConfig" : "setToNull"
    }, {
      "displayName" : "Prop1",
      "name" : "prop1",
      "type" : "string",
      "applyMappingConfig" : "onSuccess",
      "missingValueConfig" : "ignore",
      "nullValueConfig" : "setToNull"
    } ],
    "type" : "search"
  } ],
  "name" : "Test service",
  "key" : "testService"
}